.header {
	width: 100%;
	background-color: $color--dark-black;

	&_commercial {
		background: url('../img/commercial-image.jpg');
	}
	
	&__container {
		width: 1100px;
		display: table;
		margin: 0 auto;
		padding: em(22px) 0;
		color: #fff;

		&_commercial {
			padding: em(110px) 0 em(140px) 0;
		}


		
	}

	&__logo {
		display: table-cell;
		vertical-align: middle;

		&-big {
			padding-bottom: em(35px);
		}

	}

	&__menu {
		display: table-cell;
		vertical-align: middle;
		
	}

	&__commercial {

		
	}

	&__info {
		display: table-cell;
		vertical-align: bottom;
		padding-right: em(230px);
	}

	&__form {
		display: table-cell;
		vertical-align: bottom;

		&-head {
			background-color: #f5f5f5;
		}
	}

	&__comm {
		padding-bottom: em(45px);
	}



}
	