.header {
	width: 100%;
	background-color: $color--dark-black;
	
	&__container {
		width: $size--container;
		display: table;
		margin: 0 auto;
		padding: em(22px);
		color: #fff;
		
	}

	&__logo {
		display: table-cell;
		height: 50px;
		vertical-align: middle;

	}

	&__menu {
		height: 70px;
		width: 102px;
		display: table-cell;
		vertical-align: middle;
		font-family: Arial;
		text-align: right;
		font-size: 14px;
	}

}
	