.logo {
	width: 79px;
	height: 27px;
	display: block;
	background-image: url('../img/Logo-1.png');
}

.logo_big {
	width: 175px;
	height: 60px;
	display: block;
	background-image: url('../img/logo-2.png');
}

.social_icons {
	width: 634px;
	height: 46px;
	display: block;
	background-image: url('../img/MediaIcons.png');
}
