.logo {
	width: 79px;
	height: 27px;
	display: block;
	background-image: url('../img/Logo-1.png');
}

.logo-big {
	width: 175px;
	height: 60px;
	display: block;
	background-image: url('../img/logo-2.png');
}

/*.commercial-image {
	width: 1400px;
	height: 887px;
	display: block;
	background-image: url('../img/commercial-image.jpg');
}*/