.menu {
	display: block;
	font-size: $size--font-base;
	text-align: right;
	margin-right: em(-45px);
	list-style: none;

	&__item {
		margin-right: em(45px);
		cursor: pointer;
		display: inline-block;
		}

	&__link {
		color: $color--font-white;
		text-decoration: none;

	}
}

