@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold/opensans-semibold-webfont.woff2') format('woff2'),
         url('../font/opensans-semibold/opensans-semibold-webfont.woff') format('woff'),
         url('../font/opensans-semibold/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold/opensans-bold-webfont.eot');
    src: url('../font/opensans-bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold/opensans-bold-webfont.woff2') format('woff2'),
         url('../font/opensans-bold/opensans-bold-webfont.woff') format('woff'),
         url('../font/opensans-semibold/opensans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.text {

	&_x-large {
		font-size: em($size--font-x-large);
	}
	&_large {
		font-size: em($size--font-large);
	}
	&_regular {
		font-size: em($size--font-regular);
	}
	&_small {
		font-size: em($size--font-small);
	}

	&_white {
		color: $color--font-white;
	}
	&_gray {
		color: $color--font-gray;
	}
	&_dark-gray {
		color: $color--font-dark-gray;
	}
	&_light-gray {
		color: $color--font-double-light-gray;
	}
	&_dark {
		color: $color--font-dark;
	}
	&_orange {
		color: $color--font-orange;
	}
	&_upper {
		text-transform: uppercase;
	}
	&_light {
		font-weight: 300;
	}
	&_bold {
		font-weight: bold;
	}
	
}
