$color--dark-black: #000000;
$color--dark-grey: #333333;
$color--white: #f5f5f5;
$color--orange: #ff9b51;

$color--font-white: #fff;
$color--font-gray: #86878b;
$color--font-dark: #212121;
$color--font-orange: $color--orange;

$size--container: 1100px;
$size--font-x-large: 36px;
$size--font-large: 20px;
$size--font-regular: 16px;
$size--font-small: 14px;
$size--font-base: $size--font-small;

@function to-percent($size, $container:$size--container) {
	@return percentage($size/$container);
}

@function em($size, $base: $size--font-base) {
	@return $size/$base * 1em;
}